# using 127.0.0.1 instead of localhost here, otherwise node will try to resolve it as ipv6
# and that fails to reach backend which is bound to ipv4.
BACKEND_URL=https://api.github.com/graphql
GOOGLE_CLIENT_ID=CHANGE_ME
GOOGLE_REDIRECT_URI=http://localhost:3000/api/google/callback

# client side only
NEXT_PUBLIC_GRAPHQL_URL=$BACKEND_URL
NEXT_PUBLIC_BACKEND_URL=$BACKEND_URL

REACT_APP_GITHUB_AUTH_TOKEN="your-personal-token-here"

NEXTAUTH_URL=http://localhost:3000
GITHUB_ID=24fbce9518e3663ab89f
GITHUB_SECRET=541eb065926ea920864ef8fde51310295d51fd94
JWT_SECRET=b1ca03d938bc24fdccc463d810aa39a3
