.menu-toggle {
  display: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}
.sidebar {
  max-width: 300px;
  height: 100vh;
}
.content {
  flex: 1 1 0;
  margin-left: 300px;
}
.wordWrap {
  word-wrap: break-word;
}
.headerTitle {
  font-weight: bold;
}
.lineChart {
  min-width: 60%;
  max-width: 100%;
}
@media (max-width: 912px) {
  .menu-toggle {
    display: block;
  }
  .content {
    margin-left: 0;
  }
  .sidebar {
    left: -300px;
    height: 100vh;
    max-width: 300px;
    transition: 0.2s linear;
    z-index: 1;
  }
  .sidebar.is-active {
    left: 0;
  }
  .lineChart {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .subtitle {
    display: none;
  }
  .lineChart {
    height: auto;
  }
  .headerTitle {
    font-weight: normal;
  }
  .menu-toggle {
    width: 2rem;
    height: 2rem;
  }
}
